<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <button class="button button-clear button-positive" routerLink="/editrestaurant/{{ (restaurant | async)?.resId }}">Edit Details</button>
          </ion-buttons>
        <ion-title> {{ (restaurant | async)?.resName }}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    
  
      <ion-item text-center>
        <ion-label> {{ (restaurant | async)?.resName }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>Address: {{(restaurant | async)?.resAddress}} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Phone: {{ (restaurant | async)?.resPhone }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Description: {{ (restaurant | async)?.resDescription }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Tags: {{ (restaurant | async)?.resTags }}</ion-label>
      </ion-item>
      
      <ion-item *ngIf="(restaurant | async)?.resRatings != ''; else noCard">
          <ion-label stacked>Ratings: {{ (restaurant | async)?.resRatings }}</ion-label>
          <ion-icon *ngIf="(restaurant | async)?.resRatings < 3" danger name="sad"></ion-icon>
          <ion-icon *ngIf="(restaurant | async)?.resRatings >= 3" secondary name="happy"></ion-icon> 
          
      </ion-item>
      
      <ion-item text-center>
        <ion-button color="primary" expand="block" slot="end" routerLink="/raterestaurant/{{ (restaurant | async)?.resId }}">Rate</ion-button>
        <ion-button color="danger" expand="block" slot="end" (click)="deleteRestaurant()">Delete</ion-button>
      </ion-item>
        <!-- <h2> {{ (restaurant | async)?.resName }} </h2>
        <p> Address: {{(restaurant | async)?.resAddress}}</p>
        <p> Phone: {{ (restaurant | async)?.resPhone }} </p>
        <p> Description: {{ (restaurant | async)?.resDescription }} </p>
        <p> Tags: {{ (restaurant | async)?.resTags }} </p> -->

        <!-- <div class="buttons">
          <ion-button color="danger" (click)="deleteRestaurant()">Delete</ion-button>
        </div> -->
</ion-content>
