<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <ion-title>About</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
        <strong>Harsh Keshwala</strong>
      </ion-card-header>
      <ion-card-content>
        Student Number: 300984956
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>Hemant Phutela</strong>
    </ion-card-header>
    <ion-card-content>
      Student Number: 300975478
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>Tirthrajsinh Chauhan</strong>
    </ion-card-header>
    <ion-card-content>
      Student Number: 300990930
    </ion-card-content>
  </ion-card>

</ion-content>
