<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      RestoGuide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/res.svg"></ion-img>
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title>Welcome to RestoGuide</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can add and view the Restaurants of your choice and leave ratings for other users.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Visit</ion-label>
      </ion-list-header>
      <ion-item routerLink="/list">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Restaurants</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
